<%@ page language="java" pageEncoding="UTF-8"%>
<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-copy">

  <div class="am-modal-dialog">
    <div class="am-modal-hd">复制用户
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <hr>
    <form id="copyForm" name="copyForm" action="singleAdd" method="POST" class="am-form am-form-inline">
    <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">账号信息</a></li>
        <li><a href="#tab2">用户头像</a></li>
      </ul>

      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-6 am-u-md-4 am-text-right">
              	<span id="copy_username_label">用户名称</span>
            </div>
            <div class="am-u-sm-6 am-u-md-8">
                  <input type="text" id="copy_username" name="username" class="am-form-field am-input-sm">
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-6 am-u-md-4 am-text-right">
              	<span id="copy_password_label">登录密码</span>
            </div>
            <div class="am-u-sm-6 am-u-md-8">
                  <input type="password" id="copy_password" name="password" class="am-form-field am-input-sm">
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-6 am-u-md-4 am-text-right">
              	<span id="copy_repassword_label">确认密码</span>
            </div>
            <div class="am-u-sm-6 am-u-md-8">
                  <input type="password" id="copy_repassword" name="repassword" class="am-form-field am-input-sm">
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-6 am-u-md-4 am-text-right">
              	<span id="copy_nickname_label">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</span>
            </div>
            <div class="am-u-sm-6 am-u-md-8">
                  <input type="text" id="copy_nickname" name="nickname" class="am-form-field am-input-sm">
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-6 am-u-md-4 am-text-right">
              <span id="copy_email_label">电子邮箱</span>
            </div>
            <div class="am-u-sm-6 am-u-md-8">
              <input type="text" id="copy_email" name="email" class="am-form-field am-input-sm">
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-6 am-u-md-4 am-text-right">
              <span id="copy_phone_label">手机号码</span>
            </div>
            <div class="am-u-sm-6 am-u-md-8">
              <input type="text" id="copy_phone" name="phone" class="am-form-field am-input-sm">
            </div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-6 am-u-md-4 am-text-right">
            	<span id="copy_status_label">可用状态</span>
            </div>
            <div class="am-u-sm-6 am-u-md-8">
              <div class="am-form-group">
                <label class="am-radio-inline">
                  <input type="radio" name="status" id="copy_status" value="1" data-am-ucheck> 可用
                </label>
                <label class="am-radio-inline">
                  <input type="radio" name="status" id="copy_status" value="0" data-am-ucheck> 冻结
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="am-tab-panel am-fade" id="tab2">
          <div class="am-g am-margin-top">
          	<div class="am-u-md-9" style="margin-bottom: 10px;">
              <div class="img-container">
                <img id="copy_photo" style="max-width: 100%">
              </div>
            </div>
          	
          	<div id="copy_inputFile" class="am-g docs-buttons">
              <div class="am-form-group am-form-file">
                <button type="button" class="am-btn am-btn-primary am-btn-sm">
                  <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                  <input type="file" id="copy_inputImage" name="file" accept="image/gif,image/jpeg, image/x-png" onchange="inputImage('copy')">
                </button>
              </div>
              
              <div class="am-form-group">
                <button type="button" id="copy_crop" class="am-btn am-btn-primary am-btn-sm" data-method="getRoundedCanvas">
                  <i class="am-icon-camera"></i> 截取图像
                </button>
              </div>
          </div>
          
          </div>
        </div>
		
      </div>
      
    </div>

	<hr>
    <div class="am-margin">
      <button type="button" class="am-btn am-btn-primary am-btn-xs" id="submitCopy">提交复制</button>
      <button type="button" class="am-btn am-btn-primary am-btn-xs" id="closeCopy" data-am-modal-close>放弃复制</button>
    </div>
    
	</form>
  </div>
</div>
