<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<body>
		<!-- 数据表格 -->
		<i-table border="true" :context="self" :columns="vueTableColumns" :data="vueTableData" v-on:on-selection-change="getCheckedTableRow($event)" ></i-table>
		
		<!-- 分页标签 -->
		<div style="margin: 10px;overflow: hidden">
	        <div style="float: right;">
	            <Page show-total="true" :page-size="vuePageSize" :total="vueRecordTotal" :current="vueCurrentPage" v-on:on-change="doPageTurning($event)"></Page>
	        </div>
	    </div>
	</body>
</html>