.sb-navbar-message-menu {
  background: #fff;
  border: 1px solid #ddd;
}
@media screen and (max-width: 601px) {
  .sb-navbar-message-menu {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .sb-navbar-message-menu {
    width: 400px;
  }
}
.sb-navbar-message-item {
  padding-left: 6px;
  padding-right: 6px;
}
.sb-navbar-message-item-td {
  float: right;
  text-align: right;
  font-size: 11px;
  width: 40px;
  margin-left: 10px;
}
.sb-navbar-message-item-c {
  display: block;
  font-size: 13px;
  margin-right: 50px;
  text-overflow: ellipsis;
}
.sb-navbar-message-item-t {
  font-size: 14px;
}
.sb-navbar-message-item-dt {
  margin-top: 3px;
  font-size: 11px;
}