<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-title" content="bip" />
<link rel="icon" type="image/png" href="${pageContext.request.contextPath }/static/AMAZEUI/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="${pageContext.request.contextPath }/static/AMAZEUI/i/app-icon72x72@2x.png">

<!-- BOOTSTRAP-TREEVIEW 控件需要该CSS支持 -->
<link rel="stylesheet" href="${pageContext.request.contextPath }/static/BOOTSTRAP/css/bootstrap.min.css">

<link rel="stylesheet" href="${pageContext.request.contextPath }/static/AMAZEUI/css/amazeui.css" />
<link rel="stylesheet" href="${pageContext.request.contextPath }/static/AMAZEUI/css/admin.css">

