<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>ERROR PAGE</title>
	</head>
	<body>
		<h1>ERROR - ${status }</h1>
		<hr></hr>
		<ul>
			<li>
				<span style="font-family: cursive;" 
					th:text="${status eq 403 } ? 'You have no permissions to access the resource that you expect'
					: ${status eq 404 } ? 'Could not find the page that you want to access'
					: ${status eq 500 }  ? 'An ${exception } occurred' : 'An unknown exception or error occurred'">
				</span>
			</li>
			<li>
				<span style="font-family: cursive;">
					via a request with URL ${path }
				</span>
			</li>
			<li>
				<span style="font-family: cursive;">
					at ${timestamp }
				</span>
			</li>
			<br />
			<li>
				<span style="font-family: cursive;">
					Please access 
					<a th:href="@{/index}">index page</a>
					or try the current operation later...
				</span>
			</li>
		</ul>
	</body>
</html>
