<!--[if (gte IE 9)|!(IE)]><!-->
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/amazeui.js"></script>
<script src="${pageContext.request.contextPath }/static/AMAZEUI-DIALOG/js/amazeui.dialog.min.js"></script>

<script src="${pageContext.request.contextPath }/static/js/utils/format-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/common-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/ajax-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/validate-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/pagination-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/dialog-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/basic-form-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/basic-button-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/generation-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/iframe-utils.js"></script>
