<%@ page language="java" pageEncoding="UTF-8"%>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/amazeui.min.js"></script>
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/app.js"></script>

<script src="${pageContext.request.contextPath }/static/AMAZEUI-DIALOG/js/amazeui.dialog.min.js"></script>

<!-- AJAX全局异常处理器 -->
<script src="${pageContext.request.contextPath }/static/js/system/global-ajax-exception-handler.js"></script>
<!-- 弹窗封装工具类 -->
<script src="${pageContext.request.contextPath }/static/js/utils/dialog-utils.js"></script>