<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/amazeui.min.js"></script>
<script src="${pageContext.request.contextPath }/static/AMAZEUI/js/app.js"></script>

<script src="${pageContext.request.contextPath }/static/AMAZEUI-DIALOG/js/amazeui.dialog.min.js"></script>

<!-- 系统工具类与业务模块代码生成和数据展示JS文件 -->
<script src="${pageContext.request.contextPath }/static/js/utils/format-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/common-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/validate-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/pagination-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/dialog-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/basic-button-utils.js"></script>
<script src="${pageContext.request.contextPath }/static/js/utils/generation-utils.js"></script>

<!-- WebSocket客户端SockJS -->
<script src="${pageContext.request.contextPath }/static/WEBSOCKET/js/sockjs-1.1.2.min.js"></script>

<!-- 后台管理主页业务JS文件 -->
<script src="${pageContext.request.contextPath }/static/js/business/backend-biz.js"></script>

<!-- AJAX全局异常处理器 -->
<script src="${pageContext.request.contextPath }/static/js/system/global-ajax-exception-handler.js"></script>
