<%@ page language="java" pageEncoding="UTF-8"%>
<link rel="stylesheet" href="${pageContext.request.contextPath }/static/css/business/backend-biz.css">

<header class="am-topbar am-topbar-inverse admin-header">
	<div class="am-topbar-brand">
		<strong>Thymeleaf</strong> <small>后台管理系统首页</small>
	</div>
	<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
		<span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span>
	</button>
	<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
		<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
			<!-- 新消息 -->
			<li class="am-dropdown data-dropdown" data-am-dropdown>
			    <!-- 弹出列表 -->
			    <ul id="unreadMessagesBrief" class="am-dropdown-content sb-navbar-message-menu data-dropdown" data-am-dropdown>
			    </ul>
			</li>
		
			<li class="am-dropdown" data-am-dropdown>
				<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
					<span class="am-icon-users"></span> ${sessionScope.CURRENT_USER.nickname} <span class="am-icon-caret-down"></span>
				</a>
				<ul class="am-dropdown-content">
					<li><a id="changePasswordLink" href="#" data-am-modal><span class="am-icon-user"></span> 修改密码</a></li>
					<li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
					<li><a href="${pageContext.request.contextPath }/logout"><span class="am-icon-power-off"></span> 退出</a></li>
				</ul>
			</li>
			<li class="am-hide-sm-only">
				<a href="javascript:;" id="admin-fullscreen">
					<span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span>
				</a>
			</li>
		</ul>
	</div>
</header>

<%@ include file="backend/admin_backend_change_password.html"%>
